<ion-view view-title="TurnoFarm" ng-controller="DashCtrl as vm">
  <ion-content>
    <div class="card" id="my-card">
      <div class="item item-divider text-center">
        <button class="royal button button-dark" ng-click="vm.openDatePicker()" style="display: inline;">
          <i class="icon ion-android-calendar"></i>
          Farmacias de turno para: {{vm.reportParams.date | date: "mediumDate"}}
        </button>
      </div>
    </div>
    <ion-list id="my-item-list">
      <ion-item ng-repeat="address in vm.addresses" type="item-text-wrap" class="my-item-content item-icon-right item-dark">
        <div>
          <ion-option-button class="button button-dark">
            <i class="icon ion-ios-telephone energized"></i>
          </ion-option-button>
          <ion-option-button class="button-dark"
          ng-click="vm.openCompany(address)">
            <i class="icon ion-ios-location energized"></i>
          </ion-option-button>

          <h3 class="energized">{{address.company.name}}</h3>
          <p clas="energized">
            {{address.address}} <a  ng-href="tel: {{address.number}}" ng-if="address.number"> - {{address.number}}</a>
            <br>
            <span class="label-ios">{{address.city.name}}</span>
          </p>
          <i class="icon ion-chevron-right energized"></i>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

