<ion-view view-title="TurnoFarm" ng-controller="DashCtrl as vm">
  <ion-content>
    <div class="card" id="my-card">
      <div class="item item-divider text-center">
        <button class="royal button button-dark" ng-click="vm.openDatePicker()" style="display: inline;">
          <i class="icon ion-android-calendar"></i>
          Farmacias de turno para: {{vm.reportParams.date | date: "mediumDate"}}
        </button>
      </div>
    </div>
    <ion-list id="my-item-list">
      <ion-item ng-repeat="address in vm.addresses | orderBy: 'distance'" type="item-text-wrap" class="my-item-content item-icon-right item-dark">
        <div>
          <h3 class="energized">{{address.company.name}}</h3>
          <p clas="energized">
            Distancia: {{address.distance | number: 2}} kms.
            <br>
            <span ng-if="address.city.name" class="label-ios">
            {{address.city.name}}
            </span>
          </p>

          <button class="button small button-dark"
          ng-click="vm.openCompany(address)">
            <i class="icon ion-ios-location calm"></i>
            <span class="light" style="margin-right: 30px;">
              {{address.address}}
            </span>
          </button>

          <a ng-href="tel: {{address.phone_number}}" class="button button-dark" ng-if="address.phone_number">
            <i class="icon ion-ios-telephone calm"></i>
            <span class="light" style="margin-right: 30px;">
              {{address.phone_number}}
            </span>
          </a>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

